<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello There!</h1>
<p>
  You have received a invitation to a part via TaskFish.com. Your friend <%= @user.name %>
  Would love for you to join the fun, either install the app through the app store <link to app store> ,
  or you can view the party online at this website <%= event_url(@event) %>
  “
  Remember with TaskFish you can share and comment on the party or event, and after 24 hours everything gets removed.
  So go have a safe fun time, enjoy the party responsibility.. And let us take care of deleting all the evidence
</p>

</body>
</html>
