<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi There!</h1>
<p>Hello, Your frined <%= @user.name %> invited you to join a party or Event <b><%= @event.title %></b>. You can follow along with the event online at this URL http://taskfishmvp.herokuapp.com , or install the iOS App APP_STORE_LINK </p>
</body>
</html>
