<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi There!</h1>
<p>Hello, Your frined <%= @user.name %> invited you to join a party or Event
  <b><%= @event.title %></b>.
  Please sign in using your TaskFish account to participate and enjoy.
</p>
</body>
</html>
