<div class="detail-header">
    <div class="half pull-left">
       <div class="event-title"><%= @event.title %> dd dddd</div>
       <br/><br/><br/>
      <div class="event-timing"><%= @event.event_date %></div>
      <div class="event-venue"><%= @event.venue %></div>

    </div>
    <div class="half pull-right padding-15">
      wejkkrrrrrrrtrt4l5itj4nf  5tfu433 5u 6uu45 u6jtr  ytrjrel.yt46ut u etyu tr u  setse  teritujy y j tyuet yte  je nd  ituy uet jrej tk
    </div>
</div>