<div class="event-navigation">
  <span class="navigation-link">Stream</span>
  <span class="navigation-link active">Gallery</span>
  <span class="navigation-link">Locations</span>
  <span class="navigation-link">Stats</span>
</div>