<div class="detail-header">
    <div class="event-header-img">
      <%= image_tag(asset_path("event_header_img.gif")) %>
    </div>
    <div class="event-header-dtl">
      <%= image_tag(asset_path("event_header_stats.gif")) %>
    </div>

</div>