<%= render 'event_detail_header' %>
<%= render 'event_navigation_bar', :active_tab => "stats" %>


<div class="event-content-area">
  stats are here
  <h1><%= @event.title rescue "abcd" %></h1>
</div>
