.taskfish-content {
  background-color: #dddddd;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #db6557;
  position: relative;
  bottom: 0px;
}

.header-logo{
  margin-left: 15%;
  float: left;
}

.header-available {
  margin-right: 15%;
  float: right;
}

.content {
  width: 70%;
  margin: auto;
  min-height: 450px;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #B6B6B6;
  position: relative;
  bottom: 0px;
  text-align: center;
}

.avl_badge{
  height: 50px;
  width: 140px;
  margin-right: 60px;
  margin-top: -30px;
  float: right;
  display: inline-block;
}
.top-align{
  padding-top: 25px;
}