<div class="top-align"><a href="mailto:hello@taskfish.com">hello@taskfish.com</a> &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp copyright 2014 <a href="/">taskfish.com</a></div>
<div class="avl_badge"><a href="http://www.apple.com"><%= image_tag(asset_path("available_on_app_store.gif")) %></a></div>